[Desktop Entry]
Type=Application
Version=1.0
Name=nexkvm
Comment=Cross-platform device continuity daemon
Exec=nexkvm
Icon=nexkvm
Terminal=true
Categories=Utility;Network;
